.head {
	height: 150px;
	background-color: black;
}

.logo {
	float: left;
}

.head-coffee {
	float: right;
}

.meun {
	margin-top: 120px;
	float: left;
	list-style: none;
	margin-left: 30px;
}

.meun li {
	display: inline;
	color: white;
	font-size: 14px;
	margin-left: 20px;
}

.banner {
	height: 450px;
	background-color: black;
}

.banner img {
	width: 100%;
	height: 450px;
}

.content {
	background-image: url(../img/bg.gif);
	background-size:cover; 
	height: auto;
}

.shadow {
	margin-top: -10px;
	height: 10px;
	box-shadow: 0 10px 30px black;
	-webkit-box-shadow: 0 10px 30px black;
}

.bottom {
	height: 250px;
	background-color: #2d0700;
}

.bottom-img {
	float: left;
	height: 250px;
}

.bottom-div {
	height: 250px;
}

.bottom-meun {
	float: right;
	margin-top: 150px;
}

.bottom-info {
	float: right;
	color: white;
	font-size: 14px;
	text-align: right;
}